<div class="container-fluid">
    <div class="cards">
        <div class="card">
            <i class="bi bi-heart-pulse"></i>
            <div class="content">
                <h4>Today</h4>
                <p>{{counts.todayCleaningServiceCount}} Services</p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-coin"></i>
            <div class="content">
                <h4>Total Revenue</h4>
                <p>${{counts.total}}</p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-plus-lg"></i>
            <div class="content">
                <h4>Cemetry Care</h4>
                <p>{{counts.cleaningServiceCount}} Users</p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-qr-code-scan"></i>
            <div class="content">
                <h4>Memorials</h4>
                <p>{{counts.deadPersonProfileCount}} Users</p>
            </div>
        </div>
    </div>
</div>